
@import "variables.less";


*{
	margin: 0;
	padding: 0;
	outline: none;
}


html{
	width: 100%;
	height: 100%;
}


body{
	font-family: @lightFontFamily;
	color: @baseColor;
	width: 100%;
	height: 100%;
}


#container{
	box-sizing: border-box;

	#content{
		width: 750px;
		padding: 10px;
		margin: 50px auto;

		h1, h3{
			text-align: center;
		}

		.form-row{
			margin: 20px auto;
			padding: 5px;

			select{
				width: 75%;
			}

			button{
				width: 20%;
			}
		}

		.results{
			.result{
				color: @white;
				text-align: center;
				background-color: @baseBlue;
				width: 200px;
				padding: 10px;
				margin: 20px;
				display: inline-block;

				h1{
					font-family: @boldFontFamily;
				}

				select{
					
				}
			}
		}
	}
}



