@font-face{font-family:LatoLight;font-style:normal;font-weight:300;src:url(lato/Lato-Light.ttf)}@font-face{font-family:LatoRegular;font-style:normal;font-weight:400;src:url(lato/Lato-Regular.ttf)}@font-face{font-family:LatoBold;font-style:normal;font-weight:700;src:url(lato/Lato-Bold.ttf)}