
/* TYPOGRAPHY */

@font-face {
	font-family: LatoLight;
	font-style: normal;
	font-weight: 300;
	src: url(lato/Lato-Light.ttf);
}

@font-face {
	font-family: LatoRegular;
	font-style: normal;
	font-weight: 400;
	src: url(lato/Lato-Regular.ttf);
}

@font-face {
	font-family: LatoBold;
	font-style: normal;
	font-weight: 700;
	src: url(lato/Lato-Bold.ttf);
}

@lightFontFamily: LatoLight, "Trebuchet MS", "Arial";
@regularFontFamily: LatoRegular, "Trebuchet MS", "Arial";
@boldFontFamily: LatoBold, "Trebuchet MS", "Arial";




/* COLORS */
@baseColor: #555;
@baseBlue: #3477C6;
@white: #fff;
