
<div id="content">
	<h1 class="title">Consulta de Precios Comparamejor</h1>

	<div class="form-row">
		<select ng-model="selectedProduct" ng-options="product.name for product in products">
			<option value="">Seleccione un producto</option>
		</select>
		<button ng-click="requestPrices()" class="btn">Consultar precios</button>
	</div>

	<div class="results">
		<div class="result" ng-repeat='price in prices'>
			<h3>Tienda {{price.store}}</h3>
			<h1 ng-hide="price.loading">{{price.value | currency}}</h1>
			<img src="img/ajax-loader.gif" ng-show="price.loading">
		</div>
	</div>
</div>
